ugprv_client/bin/Debug/
ugprv_client/obj/Debug/
ugprv_client/obj/Release/
ugprv_hid_connector/bin/Debug/
ugprv_hid_connector/obj/Debug/
ugprv_hid_connector/obj/Release/
ugprv_ui_elements/bin/Debug/
ugprv_ui_elements/obj/Debug/
ugprv_ui_elements/obj/Release/
